* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f7f1e3;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.head_content > #head_brand_1, #head_brand_2 {
  font-size: 3em;
}

.head_content > #head_brand_2 {
  color: #2bcbba;
}

.head_content {
  width: calc(100%/6);
  height: 5em;
  line-height: 5em;
  text-align: center;
  font-family: sans-serif;
}

.head_link {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.container_1 {
  background-color: #2bcbba;
  text-align: left;
  font-size: 1em;
  display: flex;
}

.container_1_img {
  width: 50%;
  text-align: center;
  padding: 50px;
}

#img_1 {
  width:150px;
  height:250px;
}

.container_1_content {
  text-align: center;
  font-family: sans-serif;
  padding: 50px 50px 10px 10px;
  width: 50%;
}

.container_1_content_row1 {
  text-align: left;
  color: #fff;
  padding: 20px;
  font-size: 1.5em;
}

.container_1_content_row2{
  color: #fff;
  padding: 20px;
  font-size: 15px;
  text-align: justify;
}

.btn {
  border: 1px solid #fff;
  background-color: inherit;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  text-align: left;
}

.btn:hover {
  background: #009432;
  color: #f368e0;
}

#BuyNow {
  float: left;
  margin-left: 1.5em;
}

.container_2 {
  background-color: #f7f1e3;
  display: flex;
  padding: 50px 30px;
}

.container_2_col {
  width: calc(100%/3);
  text-align: center;
  padding: 1em;
}

.fa {
  color: #f7f1e3;
  background-color: #2bcbba;
  padding: 20px;
  border-radius: 50%;
}

.column_link {
  color: #000;
  font-size: 1.5em;
  text-decoration: none;
}

.column_link:hover {
  text-decoration: underline;
  color: #f368e0;
}

.column_content {
  font-size: 1em;
}

.footer {
  background-color: #2bcbba;
  padding-bottom: 20px;
}

.footer_head {
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer_form {
  text-align: center;
}

.form_input {
  display: flex;
  flex-direction: column;
}

.user_info {
  padding-top: 10px;
}

.usr_date-time,
.usr_data,
#usr_num,
#textarea {
  width: 22em;
}

#textarea {
  resize: none;
  -moz-appearance: none;
}

#search {
  width: 17em;
}

#Up {
  background: url("img/up.png") no-repeat top left;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}
