html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.basicBlock {
  background-color: #efefef;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: justify;
  font-size: 1em;
  font-family: sans-serif;
  overflow: auto;
  min-height: calc(100vh - 70px);
}

.header {
  width: 100%;
  background-color: #e15f41;
  padding-top: 10px;
  padding-top: 10px;;
  height: 100px;
  text-align: center;
  font-size: 1em;
  font-family: serif;
}

.leftColumn {
  float: left;
  background-color: #63cdda;
  width: 200px;
  height: 50em;
  line-height: 3;
  text-align: center;
}

.rightColumn {
  float: right;
  background-color: #63cdda;
  width: 200px;
  height: 50em;
  line-height: 3;
  text-align: center;
}

.content {
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.5;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
}

.footer {
  background-color: #596275;
  clear: both;
  height: 50px;
  padding: 1em;
}
