html {
  height: 100%;
  box-sizing: border-box;
}
.body {
  margin: 0px;
  padding: 0px;
}

.basicBlock {
  background-color: #efefef;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: justify;
  font-size: 1em;
  font-family: sans-serif;
  overflow: auto;
}

.header {
  width: 100%;
  background-color: #e15f41;
  height: 50px;
  text-align: center;
  font-size: 1em;
  font-family: serif;
}

.leftColumn {
  float: left;
  background-color: #3dc1d3;
  background-color: #63cdda;
  width: 200px;
  height: 50em;
  line-height: 3;
  text-align: center;
 }

.rightColumn {
  float: right;
  background-color: #63cdda;
  width: 200px;
  height: 50em;
  line-height: 3;
  text-align: center;

 }

.content {
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.5;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  height: inherit;
}

.footer {
  background-color: #596275;
  clear: both;
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;

}
