body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.column {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
  text-align: center;
  padding: 1rem;
}

.floats .column {
  overflow: hidden;
  width:calc(100%/3);
  float: left;
}

.floats>.column {
  background-color: #1abc9c;
}

.floats>.column:first-child+div {
  background-color: #2ecc71;
}

.floats .column:last-child {
  background-color: #3498db;
}

.blocks .column {
  display: inline-block;
  width:calc(100%/3);
}

.blocks>.column {
  background-color: #f39c12;
}

.blocks>.column:first-child+div {
  background-color: #d35400;
}

.blocks .column:last-child {
  background-color: #c0392b;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.flexbox>.column {
  background-color: #16a085;
  flex-basis: calc(100%/3);
}

.flexbox>.column:first-child+div {
  background-color: #27ae60;
  flex-basis: calc(100%/3);
}

.flexbox .column:last-child {
  background-color: #2980b9;
  flex-basis: calc(100%/3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.grid>.column {
  background-color: #f1c40f;
}

.grid>.column:first-child+div {
  background-color: #e67e22;
}

.grid .column:last-child {
  background-color: #e74c3c;
}
