* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  color: #d3bb89;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.leftColumn {
  width: 50%;
  position: relative;
  overflow: hidden;
  background-image: url("img/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rightColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  text-align: left;
}

.rightColumn_header {
  text-align: center;
  font-family: "game_of_thronesregular", serif;
  font-size: 1em;
  font-weight: lighter;
  margin-top: 2em;
}

form {
  background-color: #202020;
  width: 25em;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

label {
  font-size: 1.3em;
  font-family: "eb_garamond08_regular", "open_sansregular", serif;
  position: relative;
}

.note {
  color: #fef8eb;
  font-size: 0.8em;
  font-family: "eb_garamond08_regular", "open_sansregular", serif;
}

.info_msg {
  font-size: 1em;
  font-family: "eb_garamond08_regular", "open_sansregular", serif;
  color: #fef8eb;
  padding: 0 0 0 1em;
  margin: 1em 0;
  border-left: 2px solid #d3bb89;
}

input {
  background: #202020;
  color: #fef8eb;
  border: none;
  margin: 1em 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #d3bb89;
  font-family: "open_sansregular", "eb_garamond08_regular", sans-serif;
  font-size: 1em;
  height: 3em;
}

select {
  font-size: 1em;
}

#houses {
  background: #202020;
  border: none;
  color: #fef8eb;
  margin: 1em 0;
  height: 3em;
  padding-bottom: 1.2em;
  border-bottom: 2px solid #d3bb89;
  font-family: "open_sansregular", "eb_garamond08_regular", sans-serif;
}

#aboutUser {
  background: #202020;
  border: none;
  color: #fef8eb;
  height: 4em;
  margin:  1em 0;
  font-family: "open_sansregular", "eb_garamond08_regular", sans-serif;
  font-size: 1em;
  border-bottom: 2px solid #d3bb89;
}

.button {
  background-color: #c19a49;
  color: #fef8eb;
  border: none;
  height: 3em; 
  line-height: 2.5;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 10px;
  height: 10px;
}

.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 40px;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #d3bb89;
  border-radius: 3px;
}

.checkbox:checked + label:before {
  background: #c19a49;
  content: '*';
  color: #000;
}

@font-face {
  font-family: 'game_of_thronesregular';
  src: url('fonts/gameofthrones-webfont.woff2') format('woff2'),
  url('fonts/gameofthrones-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'eb_garamond08_regular';
  src: url('fonts/ebgaramond08-regular-webfont.woff2') format('woff2'),
  url('fonts/ebgaramond08-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
