.body {
  margin: 0px;
  padding: 0px;
}

.main_block {
  display: flex;
  flex-wrap: wrap;
  color: #d3bb89;
}

.col_left{
   width: 50%;
   position: relative;
   overflow: hidden;
}

.img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.col_right {
   width: 50%;
   background-color: #202020;
   text-align: left;
}

.header {
   text-align: center;
   font-family: game_of_thronesregular;
   padding-top: 30px;
}

input[type=email]:invalid {
  border: 2px solid red;
 }

.input {
  background: #202020;
  color: #fef8eb;
  border: none;
  padding: 3px;
  width: 350px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d3bb89;
  font-family: open_sansregular;
}

.house {
  background: #202020;
  border: none;
  padding: 3px;
  color: #fef8eb;
  width: 350px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d3bb89;
  font-family: open_sansregular;
}

 .form_1,
 .form_2 {
   background-color:  #202020;
   padding: 20px 120px 50px 120px;
 }

.tittle_2 {
  font-size: 8pt;
  color: #fef8eb;
  font-family: open_sansregular;
}

.tittle {
  text-align: left;
  font-family: eb_garamond08_regular;
}

.msg {
  font-size: 10pt;
  font-family: open_sansregular;
  color: #fef8eb;
  padding: 0 120px 10px 20px;
  margin-left: 120px;
  margin-bottom: 5px;
  border-left: 2px solid #d3bb89;
}

 .btn_1,
 .btn_2 {
   background-color: #c19a49;
   border: none;
   color: #fef8eb;
   width: 355px;
   height: 35px;
}

.check{
  vertical-align:top;
  margin:0 3px 0 0;
  width:10px;
  height:10px;
}

.check + label{
  cursor:pointer;
}

.check:not(checked){
  position:absolute;
  opacity:0;
}

.check:not(checked) + label {
  position:relative;
  padding: 0 0 0 60px;
}

.check:not(checked) + label:before {
  content: '';
  position: absolute;
  text-align: center;
  top:0;
  left:0;
  width:20px;
  height:20px;
  background: #d3bb89;
  border-radius: 3px;
}

.check:checked + label:before {
  background: #c19a49;
  content: '\2713';
  color: #000;
}

.check:checked + label:after {
  left:20px;
}

@font-face {
  font-family: 'game_of_thronesregular';
  src: url('fonts/gameofthrones-webfont.woff2') format('woff2'),
       url('fonts/gameofthrones-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eb_garamond08_regular';
  src: url('fonts/ebgaramond08-regular-webfont.woff2') format('woff2'),
       url('fonts/ebgaramond08-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
